.logo {
  display: block;
 margin-left: auto;
  margin-right: auto;
  width: 17%;
}
#logo {
  text-align: center;
  font-weight: bolder;
  font-size: larger;
  font-family: "Varela Round", sans-serif;
  justify-content: center;
  align-items: center;
  height: 20%;
  padding-left: 10px;
}
.center {
 display: block;
 margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.homelogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.map{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}