@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
body {
  font-family: helvetica, arial, sans-serif;
  font-size: 1em;
  margin: 10px;
  padding: 0;
  background-color: #252525;
  color: #e6e6e6 ;
  padding: 50px;
  font-size: xx-large;
  padding: 70px 0;
  text-align: center;
}
header {
  background-color: #bdf1f3;
  color: #000000;
  text-align: center;
  font-size: larger;
}
h1 {
  text-align: center;
  font-family: "Cabin", sans-serif;
}
h2 {
  font-family: "Cabin", sans-serif;
  font-size: large;
  font-weight: bold;
}
h3 {
  text-align: center;
  font-style: italic;
  font-weight: lighter;
  font-size: small;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
#rcorners2 {
  border-radius: 25px;
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: #7289da;
}
.homelogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.gif {
  left: 0px;
  width: 40%;
  padding: 10px;
  margin-left: 30px;
  border-radius: 15%;
}
.fact{
  font-size: larger;
  margin: 100px 100px 100px 100px;
  color:rgb(255, 255, 255)
}
.paragraph{
  
  margin: 10px;
}
#logo {
  text-align: center;
  font-weight: bolder;
  font-size: larger;
  font-family: "Varela Round", sans-serif;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding-left: 10px;
}
nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
nav ul li {
  border-bottom: 1px solid rgb(255, 255, 255);
  padding: 5px;
}
nav ul li a {
  display: inline-block;
  width: 100%;
  font-weight: bold;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 8px 0;
}
.part1{
background-color: rgb(94, 94, 94);
}
.part2{
background-color:#bdf1f3;
height: 200px;
}
.part3{
background-color: rgb(94, 94, 94);
height: 200px;
}
.part4{
background-color:#bdf1f3;
height: 200px;
}
.part5{
  background-color: rgb(94, 94, 94);
  padding-top: 10px;
  padding-bottom: 10px;
}
.part6{
background-color:#bdf1f3;
}
.p1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; 
}
section {
  padding: 0px 20px 0px 20px;
}
footer {
  border-top: 1px solid #ccc;
  margin: 0px 10px 0px 10px;
  font-size: 0.8em;
  text-align: center;
  font-style: italic;
}
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  color:rgb(255, 255, 255);
}
.dropbtn {
  background-color: #e7ab3d;
  color: #4d3e17;
  padding: 16px;
  font-size: 16px;
  border: none;
  align-content: center;
}
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.show {
  display: block;
}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}